<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
<title>Interests</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/interests.js"></script>
<link rel="stylesheet" href="../stylesheets/interests.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">

</head>


<body>

		<header>
		<h1>SANDRA CRUZ</h1>
		
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">Home</a>
		<a href="../templates/about.html" class="item_menu">About</a>
		<a href="../templates/work.html" class="item_menu">Work</a>
		<a href="../templates/interests.html" class="item_menu">Interests</a>
		<a href="../templates/contact.html" class="item_menu">Contact</a>
		
	</nav>


	<div class="header"><h1>I am very interested in Puerto Rican Art</h1></div>

	<div class="slideshow-container">
		<div class="mySlides fade">
			

			<img src="../images/pr1.jpg" alt="pr" style="width:25%">
			<img src="../images/pr6.jpg"alt="pr" style="width:25%">
			<img src="../images/pr11.jpg"alt="pr" style="width:25%">
			<img src="../images/pr21.jpg"alt="pr" style="width:37.5%">
			<img src="../images/prart.jpg"alt="pr" style="width:37.5%">			
			<div class="text">Art is Fun</div>
		</div>


		<div class="mySlides fade">
			<img src="../images/pr2.jpg"alt="pr" style="width:25%">
			<img src="../images/pr7.jpg"alt="pr" style="width:25%">
			<img src="../images/pr12.jpg"alt="pr" style="width:25%">
			<img src="../images/pr17.jpg"alt="pr" style="width:37.5%">
			<img src="../images/pr22.jpg"alt="pr" style="width:37.5%">
			<div class="text">Art is Great</div>
		</div>



		<div class="mySlides fade">
			<img src="../images/pr3.jpg"alt="pr" style="width:25%">
			<img src="../images/pr8.jpg"alt="pr" style="width:25%">
			<img src="../images/pr13.jpg"alt="pr" style="width:25%">
			<img src="../images/pr18.jpg"alt="pr" style="width:37.5%">
			<img src="../images/pr23.jpg"alt="pr" style="width:37.5%">
			<div class="text">Art is Fantastic</div>
		</div>



		<div class="mySlides fade">
			<img src="../images/pr4.jpg"alt="pr" style="width:25%">
			<img src="../images/pr9.jpg"alt="pr" style="width:25%">
			<img src="../images/pr14.jpg"alt="pr" style="width:25%">
			<img src="../images/pr19.jpg"alt="pr" style="width:37.5%">
			<img src="../images/pr24.jpg"alt="pr" style="width:37.5%">
			<div class="text">Art is Awesome</div>
		</div>
	</div>


	<div class="mySlides fade">
			<img src="../images/pr5.jpg"alt="pr" style="width:25%" >
			<img src="../images/pr10.jpg"alt="pr" style="width:25%">
			<img src="../images/pr15.jpg"alt="pr" style="width:25%">
			<img src="../images/pr20.jpg"alt="pr" style="width:37.5%">
			<img src="../images/pr25.jpg"alt="pr" style="width:37.5%">	
			<div class="text">Art is Amazing</div>
		</div>
	</div>


	<div class="mySlides fade">
			<img src="../images/pr26.jpg"alt="pr" style="width:25%">
			<img src="../images/pr27.jpg"alt="pr" style="width:25%">
			<img src="../images/pr28.jpg"alt="pr" style="width:25%">
			<img src="../images/pr29.jpg"alt="pr" style="width:37.5%">
			<img src="../images/pr30.jpg"alt="pr" style="width:37.5%">
			<div class="text">Art is Pretty</div>
		</div>
	</div>


	<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>
		
	<!-- dots -->
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>

	</body>
</html>
