<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
<title>Final</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/Project2.js"></script>
<link rel="stylesheet" href="../stylesheets/Project2.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">


</head>


<body>

		<header>

		<h1>SANDRA CRUZ</h1>
		
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">Home</a>
		<a href="../templates/about.html" class="item_menu">About</a>
		<a href="../templates/work.html" class="item_menu">Work</a>
		<a href="../templates/interests.html" class="item_menu">Interests</a>
		<a href="../templates/contact.html" class="item_menu">Contact</a>
		
	</nav>



		<div class=" P1">
			<p> This project was done for my Typography and Design class.  </p>
			<img src="../images/insideinsights.jpg" alt="brochure">
			<br>
			<img src="../images/insideinsights2.jpg" alt="brochure">
	</div>



</body>
</html>