<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
<title>Work</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/work.js"></script>
<link rel="stylesheet" href="../stylesheets/work.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">

</head>


<body>

		<header>
		<h1>SANDRA CRUZ</h1>
		
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">Menu</i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="../index.html" class="item_menu">Home</a>
		<a href="../templates/about.html" class="item_menu">About</a>
		<a href="../templates/work.html" class="item_menu">Work</a>
		<a href="../templates/interests.html" class="item_menu">Interests</a>
		<a href="../templates/contact.html" class="item_menu">Contact</a>
	</nav>


	<h2>Projects</h2>
	<!-- Parent Div  -->
	<div class="ParentDiv">


		<!-- PROJECT 2 -->
		<a href="Project2.html">
		<img id="booklet" src="../images/insideinsights.jpg" alt="booklet" style="width:37%">
		</a>


		<!-- PROJECT 3 -->
		<a href="Project3.html">
		<img id="booklet" src="../images/wetnwildbooklet.jpg" alt="booklet" style="width:37%">
		</a>


		<h2>Digital Art</h2>
	<div class="work">

	<img src="../images/CeliaMock.jpg" alt="me" style="width:25%">
	<img src="../images/charlesMock.jpg" alt="me" style="width:25%">
	<img src="../images/biggiemock.jpg" alt="me" style="width:25%">
	<img src="../images/downMock.jpg" alt="me" style="width:25%">
	<img src="../images/dudeMock.jpg" alt="me" style="width:25%">
	<img src="../images/JavonneMock.jpg" alt="me" style="width:25%">
	<img src="../images/suitcaseMock.jpg" alt="me" style="width:25%">
	<img src="../images/shockedMock.jpg" alt="me" style="width:25%">
	<img src="../images/nikitaMock.jpg" alt="me" style="width:25%">
	<img src="../images/sisMock.jpg" alt="me" style="width:25%">
	<img src="../images/josieMock.jpg" alt="me" style="width:25%">
	<img src="../images/EvaMock.jpg" alt="me" style="width:25%">

</div>


</body>
</html>






